  
apiVersion: operator.ibm.com/v1alpha1
kind: OIDCClientWatcher
metadata:
  name: example-oidcclientwatcher
  labels:
    app.kubernetes.io/instance: ibm-iam-operator
    app.kubernetes.io/managed-by: ibm-iam-operator
    app.kubernetes.io/name: ibm-iam-operator
spec:
  operatorVersion: "0.14.1"
  imageRegistry: "quay.io/opencloudio/icp-oidcclient-watcher"
  imageTagPostfix: "3.3.2"
  replicas: 1
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 16Mi
