  
apiVersion: operator.ibm.com/v1alpha1
kind: PolicyDecision
metadata:
  name: example-policydecision
  labels:
    app.kubernetes.io/instance: ibm-iam-operator
    app.kubernetes.io/managed-by: ibm-iam-operator
    app.kubernetes.io/name: ibm-iam-operator
spec:
  auditService:
    imageRegistry: "quay.io/opencloudio"
    imageName: "audit-syslog-service"
    imageTag: "1.0.3"
    syslogTlsPath: "/etc/audit-tls"
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 100Mi
  imageRegistry: "quay.io/opencloudio"
  imageName: "iam-policy-decision"
  imageTag: "3.3.4"
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 20m
      memory: 100Mi
  initMongodb:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-platform-auth"
    imageTag: "3.3.7"
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
  operatorVersion: "0.14.1"
  replicas: 1
