apiVersion: operator.ibm.com/v1alpha1
kind: Authentication
metadata:
  name: example-authentication
  labels:
    app.kubernetes.io/instance: ibm-iam-operator
    app.kubernetes.io/managed-by: ibm-iam-operator
    app.kubernetes.io/name: ibm-iam-operator
spec:
  operatorVersion: "0.14.1"
  replicas: 1
  auditService: 
    imageRegistry: "quay.io/opencloudio"
    imageName: "audit-syslog-service"
    imageTag: "1.0.5"
    syslogTlsPath: "/etc/audit-tls"
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 100Mi
  authService:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-platform-auth"
    imageTag: "3.3.7"
    ldapsCACert: "platform-auth-ldaps-ca-cert"
    routerCertSecret: "route-tls-secret"
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 350Mi
  clientRegistration:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-platform-auth"
    imageTag: "3.3.7"
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 128Mi
  identityManager:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-identity-manager"
    imageTag: "3.3.6"
    masterNodesList: "10.0.0.1"
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 150Mi
  identityProvider:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-identity-provider"
    imageTag: "3.3.6"
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 150Mi
  initMongodb:
    imageRegistry: "quay.io/opencloudio"
    imageName: "icp-platform-auth"
    imageTag: "3.3.7"
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
  config:
    oidcIssuerURL: "https://127.0.0.1:443/idauth/oidc/endpoint/OP"
    authUniqueHosts: "internal-ip1 internal-ip2 mycluster.icp"
    clusterCADomain: "mycluster.icp"
    clusterExternalAddress: "10.0.0.1"
    clusterInternalAddress: "10.0.0.1"
    clusterName: "mycluster"
    defaultAdminPassword: "password"
    defaultAdminUser: "admin"
    enableImpersonation: false
    fipsEnabled: true
    icpPort: 8443
    installType: "fresh"
    isOpenshiftEnv: true
    openshiftPort: 443
    roksEnabled: true
    ibmCloudSaas: false
    saasClientRedirectUrl: ""
    nonceEnabled: true
    xframeDomain: ""
    preferredLogin: ""
    claimsSupported: "name,family_name,display_name,given_name,preferred_username"
    claimsMap: "name=\"givenName\" family_name=\"givenName\" given_name=\"givenName\" preferred_username=\"givenName\"
    display_name=\"displayName\""
    scopeClaim: "profile=\"name,family_name,display_name,given_name,preferred_username\""
    bootstrapUserId: "kubeadmin"
    providerIssuerURL: ""
    roksURL: "https://roks.domain.name:443"
    roksUserPrefix: "changeme"
    wlpClientID: "4444be3a738841016ab76d71b650e836"
    wlpClientRegistrationSecret: "f1362ca4d20b8389af2d1ea68042c9af"
    wlpClientSecret: "aa73bf39752053bf723d1143fb4cf8a2"
    attrMappingFromConfig: false
