apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-iam-operator
  labels:
     app.kubernetes.io/instance: ibm-iam-operator
     app.kubernetes.io/managed-by: ibm-iam-operator
     app.kubernetes.io/name: ibm-iam-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-iam-operator
  template:
    metadata:
      labels:
        name: ibm-iam-operator
        app.kubernetes.io/instance: ibm-iam-operator
        app.kubernetes.io/managed-by: ibm-iam-operator
        app.kubernetes.io/name: ibm-iam-operator
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-iam-operator
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      containers:
        - name: ibm-iam-operator
          # Replace this with the built image name
          image: quay.io/opencloudio/ibm-iam-operator:latest
          command:
          - ibm-iam-operator
          imagePullPolicy: Always
          env:
            - name: AUTH_SERVICE_TAG_OR_SHA
              value: "sha256:b6e6009529eddc668fb2c376036d0621c3bc8bc9afee4814afe73a0411d9126a"
            - name: IDENTITY_PROVIDER_TAG_OR_SHA
              value: "sha256:afc04ca31c2e6791d4c7bc4d941638f2d9bc521c122cc0290363fecccd8fc1dd"
            - name: IDENTITY_MANAGER_TAG_OR_SHA
              value: "sha256:619d956c933e1bcc81173b0da075afa10cb1e04cfaab0b560e61066ca00f2ae9"
            - name: POLICY_ADMINISTRATION_TAG_OR_SHA
              value: "sha256:f39989469270bf5845f289388e12b98d60d72bc32cd12931705fc8a3f37ad3c0"
            - name: POLICY_DECISION_TAG_OR_SHA
              value: "sha256:8c4f9a630609bd8caf88cbe9acbe95e7c08e3adfc1192609ebaf346424b4b75f"
            - name: SECRET_WATCHER_TAG_OR_SHA
              value: "sha256:e0ce33ccb120fa9e3eee60331c17b2324285f223fc905a3f64bafb0d929db4fb"
            - name: CLIENT_WATCHER_TAG_OR_SHA
              value: "sha256:9ce7514d58c78eb4df41575c3e4e92a725b3f35c300046d1ee89290b51a14c43"
            - name: POLICY_CONTROLLER_TAG_OR_SHA
              value: "sha256:0f20b1abe1ac4926b0d58ac30863e015f4f75f0fcc166c398a5348e1e2e8fa27"
            - name: IAM_ONBOARDING_TAG_OR_SHA
              value: "sha256:ccba1e105ac647c4ccc8a3ce1c152e74074ab380600ddbb4b5f3075123023c0b"
            - name: AUDIT_TAG_OR_SHA
              value: "sha256:4d68ee3e14b74e117b54e1c49686de847008d5e453b267168f6e52af9c9e9d4d"
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-iam-operator"
          resources:
            limits:
              cpu: 25m
              memory: 320Mi
            requests:
              cpu: 10m
              memory: 80Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
