apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-iam-operator
  labels:
     app.kubernetes.io/instance: ibm-iam-operator
     app.kubernetes.io/managed-by: ibm-iam-operator
     app.kubernetes.io/name: ibm-iam-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-iam-operator
  template:
    metadata:
      labels:
        name: ibm-iam-operator
        app.kubernetes.io/instance: ibm-iam-operator
        app.kubernetes.io/managed-by: ibm-iam-operator
        app.kubernetes.io/name: ibm-iam-operator
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-iam-operator
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      containers:
        - name: ibm-iam-operator
          # Replace this with the built image name
          image: quay.io/opencloudio/ibm-iam-operator:latest
          command:
          - ibm-iam-operator
          imagePullPolicy: Always
          env:
            - name: AUTH_SERVICE_TAG_OR_SHA
              value: "sha256:acdb61d4674b5f3ae276ef9f7208d5ac33a7bbcba8194a429a43273f143fb9b5"
            - name: IDENTITY_PROVIDER_TAG_OR_SHA
              value: "sha256:c236405be6cb45b396daa7ec8f480e08c6439d23d849e57dd60bd26a006a6296"
            - name: IDENTITY_MANAGER_TAG_OR_SHA
              value: "sha256:2c29055654d4e9c043d69b3e1160cbfea40efaf278b34f503399bc47599b018e"
            - name: POLICY_ADMINISTRATION_TAG_OR_SHA
              value: "sha256:f61ac066951f215dc4afd922660af9b3e52071c2fcd321659fa10bb28de71b56"
            - name: POLICY_DECISION_TAG_OR_SHA
              value: "sha256:dea8a4508142c0a59f9ae12ef770988af34b3f03f1d0fdea9df305125f828f7d"
            - name: SECRET_WATCHER_TAG_OR_SHA
              value: "sha256:6aef70d8e1f9cc52d4bd85ae0b79cc4854ba135b4932c8516f7bb07266fe0bff"
            - name: CLIENT_WATCHER_TAG_OR_SHA
              value: "sha256:884d5962fd7920453b91d5f7883ca063695d71e12bd6ccc8bf41c4b8fbaa3b21"
            - name: POLICY_CONTROLLER_TAG_OR_SHA
              value: "sha256:1dc66d59887dc6730f7b39e61d228592c8b585376ebfdc3642aec37bba0193f5"
            - name: IAM_ONBOARDING_TAG_OR_SHA
              value: "sha256:2557ef65f807d62769e264f7360bf40ae5cdaa4b2e6bea8f479cfcec7e8c52a8"
            - name: AUDIT_TAG_OR_SHA
              value: "sha256:ae0e15af1ef59f43fc2fe02f1127c4655d33a44e578a436ee1b1e955902f6180"
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-iam-operator"
          resources:
            limits:
              cpu: 25m
              memory: 320Mi
            requests:
              cpu: 10m
              memory: 80Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
