apiVersion: v1
kind: ServiceAccount
metadata:
  name: ibm-iam-operand
  labels:
    app.kubernetes.io/instance: ibm-iam-operator
    app.kubernetes.io/managed-by: ibm-iam-operator
    app.kubernetes.io/name: ibm-iam-operator
