cpfs:
  imageRegistryNamespaceOperator: cpopen
  imageRegistryNamespaceOperand: cpopen/cpfs
  labels:
global:
  operatorNamespace: operators
  instanceNamespace: instance
  imagePullPrefix: icr.io
  imagePullSecret: ibm-entitlement-key
  imagePullPolicy: IfNotPresent
# Define tethered namespaces here, e.g.:
# tetheredNamespaces:
#   - tenant1
#   - tenant2
operator:
  imageTag: "4.17.0"
operands:
  platformIdentityProvider:
    imageTag: "4.17.0"
  platformAuthService:
    imageTag: "4.17.0"
  platformIdentityManagement:
    imageTag: "4.17.0"
  imInitContainer:
    imageTag: "4.17.0"
  imDBMigrator:
    imageTag: "4.17.0"
#common ui specific
# Enabling this sets WATCH_NAMESPACE to look for namespace-scope ConfigMap for
# the list of namespaces. Disabling generates the comma-separated list based upon
# namespaces defined in the operatorNamespace, instanceNamespace, and tenantNamespaces
# variables.
nssEnabled: false
