apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: ibm-iam-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-iam-operator
  labels:
    app.kubernetes.io/instance: ibm-iam-operator
    app.kubernetes.io/managed-by: ibm-iam-operator
    app.kubernetes.io/name: ibm-iam-operator
    productName: IBM_Cloud_Platform_Common_Services
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-iam-operator
  template:
    metadata:
      labels:
        name: ibm-iam-operator
        app.kubernetes.io/instance: ibm-iam-operator
        app.kubernetes.io/managed-by: ibm-iam-operator
        app.kubernetes.io/name: ibm-iam-operator
        intent: projected
        productName: IBM_Cloud_Platform_Common_Services
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-iam-operator
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      affinity:
        securityContext:
          seccompProfile:
            type: RuntimeDefault
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      containers:
        - name: ibm-iam-operator
          image: controller:latest
          command:
          - ibm-iam-operator
          imagePullPolicy: IfNotPresent
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  name: namespace-scope
                  key: namespaces
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "ibm-iam-operator"
            - name: ROUTE_HTTP_PORT
              value: ""
            - name: ROUTE_HTTPS_PORT
              value: ""
            - name: cluster_name
              value: ""
          resources:
            limits:
              cpu: 25m
              memory: 320Mi
            requests:
              cpu: 20m
              memory: 80Mi
              ephemeral-storage: 256Mi
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
